body {
	font: 14px/1.5 "microsoft yahei", Helvetica, Tahoma, Arial, "Microsoft jhengHei", sans-serif;
	color:#404040;
	background:url(../images/login_bg.jpg) no-repeat;
}
body,p,pre,blockquote,
h1,h2,h3,h4,h5,h6,			
dl,dt,dd,ul,ol,li,			
form,fieldset,legend,select,
input,textarea,button,		
table,caption,tr,th,td {
	margin:0;
	padding:0;
}
ol,ul {
	list-style:none;
}
fieldset,img {
	border:0 none;
}
img {
	max-width: 100%;
}
a {
	color: #1fce02;
	text-decoration:none;
}
a:hover{
	text-decoration:none;
}
input,button,textarea,select,option {
	font-family:inherit;
	font-size:100%;	
	outline: 0;
}
textarea {
	overflow: auto;
	resize: none;
}

/* 表单样式 */
select {
	padding: 2px;
	height: 27px;
	line-height: 27px;
	font-size: 14px;
	border: 1px solid #ebebeb;
}
.radio,.checkbox {
	display: inline-block;
	font-size: 14px;
	min-height: 20px;
	line-height: 20px;
	vertical-align: middle;
}
.radio input,
.checkbox input {
	float: left;
	margin: 4px 4px 0 0;
	*margin: 0 2px 0 0;
}
.radio + .radio,
.checkbox + .checkbox {
	margin-left: 15px;
}
.must {
	margin: 0 4px;
	color: #f00;
}

/* 按钮 集成bootstrap */
.btn-small {
	padding: 3px 12px;
	font-size: 14px;
}
.btn-mini {
	padding: 1px 8px;
	font-size: 14px;
}


 /* 表单美化 */
 
.regular-checkbox {
	display: none;
}

.regular-checkbox + label {
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
	margin:0 10px 0 0;
	vertical-align:middle
}

.regular-checkbox + label:active, .regular-checkbox:checked + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked + label {
	background-color: #e9ecee;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}

.regular-checkbox:checked + label:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: #99a1a7;
}


.big-checkbox + label {
	padding: 18px;
}

.big-checkbox:checked + label:after {
	font-size: 28px;
	left: 6px;
}

.tag {
	font-family: Arial, sans-serif;
	width: 200px;
	position: relative;
	top: 5px;
	font-weight: bold;
	text-transform: uppercase;
	display: block;
	float: left;
}

.radio-1 {
	width: 193px;
}

.button-holder {
	float: left;
}

/* 登录 */
.reg_box{ width:400px; margin:50px auto; color:#ddd}
.logo_icon{ width:60px; height:60px; margin:0 auto; background:url(../images/logo.png) center center no-repeat;}
.logo_text{ height:30px; margin:20px 0 10px;text-align:center;font-size:20px; font-weight:bold; position:relative}
.list_img {width:50px;}
.reg_box{ margin-top:100px;}
.reg_box input{ width:256px;}
.reg_box .control-group{ overflow:hidden;zoom:1; margin-top:20px;}
.reg_box .control-label{ width:70px; height:30px; float:left; text-align:right; padding-right:15px; line-height:30px;}
.reg_box .controls{ float:left;}
.reg_box .verifyimg{ width:274px;}
.reg_box .btn{ padding:10px 0; margin-top:15px; width:200px;}
.login_top_btn{ position:absolute; top:20px; right:20px;}
.login_top_btn .btn{ background-color:RGBA(255,255,255,.3); color:#fff; padding:8px 20px; border-radius:30px; margin:10px;}
.login_top_btn .btn:hover{ background-color:#fff; color:#1dbd03}
.text-warning{ color:#F60; margin-top:5px}
/* login end */
.btn {
  display: inline-block;
  *display: inline;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background:#1dbd03;
  border:none;
  -moz-transition: color .25s linear, background-color .25s linear;
  -webkit-transition: color .25s linear, background-color .25s linear;
	transition: color .25s linear, background-color .25s linear;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #fff;
  background-color: #1fce02;
  *background-color: #1fce02;
}

.btn-large {
  padding: 10px 20px;
  font-size: 17.5px;
}
.btn-small {
  padding: 2px 10px;
  font-size: 11.9px;
}

.btn-gray,.btn-gray:hover{ background-color:#ccc; color:#666;}
.btn-yellow,.btn-yellow:hover{ background-color:#fb4505; color:#fff;}
.btn-blue,.btn-blue:hover{ background-color:#0c9dcc; color:#fff;}

.submit-btn{ padding:12px 50px; font-size:16px;}
/* = 表单
------------------------------------------ */
/* 表单组件 */
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;
  padding: 8px;
  margin-bottom: 10px;
  font-size: 14px;
  color: #555555;
  vertical-align: middle;
  background:#fff;
}

input,
textarea,
.uneditable-input {
  width: 206px;
}

textarea {
  height: auto;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -moz-transition: border-color .25s linear,color .25s linear, background-color .25s linear;
  -webkit-transition: border-color .25s linear,color .25s linear, background-color .25s linear;
	transition:border-color .25s linear, color .25s linear, background-color .25s linear;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #1dbd03;
  outline: 0;
  outline: thin dotted \9;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  *margin-top: 0;
  line-height: normal;
}

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}

select,
input[type="file"] {
  height: 30px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */

  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */

  line-height: 30px;
}

select {
  width: 220px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}

select[multiple],
select[size] {
  height: auto;
}

select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.uneditable-input,
.uneditable-textarea {
  color: #999999;
  cursor: not-allowed;
  background-color: #fcfcfc;
  border-color: #cccccc;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
     -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
}

.uneditable-input {
  overflow: hidden;
  white-space: nowrap;
}

.uneditable-textarea {
  width: auto;
  height: auto;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #999999;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #999999;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #999999;
}

.radio,
.checkbox {
  min-height: 20px;
  padding-left: 20px;
}

.radio input[type="radio"],
.checkbox input[type="checkbox"] {
  float: left;
  margin-left: -20px;
}

.controls > .radio:first-child,
.controls > .checkbox:first-child {
  padding-top: 5px;
}

.radio.inline,
.checkbox.inline {
  display: inline-block;
  padding-top: 5px;
  margin-bottom: 0;
  vertical-align: middle;
}

.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline {
  margin-left: 10px;
}
.text {
	padding: 4px;
	border: 1px solid #ccc;
	background-color: #fff;
	transition: all .3s linear;
}
.textarea textarea{
	padding: 6px;
	border: 1px solid #ccc;
	background-color: #fff;
	transition: all .3s linear;
	display:block;
	min-height:100px;
	min-width:300px;
}
.textarea textarea:focus{ border:1px solid #1dbd03}
.text {
	width: 220px;
	height: 20px;
	vertical-align: middle;
}
.textarea {
	display: block;
}
.checkbox + .checkbox,
.radio + .radio {
	margin-left: 15px;
}
.checkbox, .radio {
	display: inline-block;
	height: 20px;
	line-height: 20px;
}
.checkbox input,
.radio input {
	margin-right: 5px;
	*margin-right: 1px;
	vertical-align: -1px;
}
select {
	height:auto; 
	line-height:none; 
	padding:7px 10px;
	border: 1px solid #ccc;
}
select[multiple] {
	height: 200px;
}
